{% extends 'layout.html' %}
{% block profile %}

  <h1>User Profile</h1>
  <form action="" method="post" name="profile" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>
          Please enter your E-mail:<br/>
          {{ form.email(size=80) }}<br/>
          Please<br/>
          {{ form.photo }}<br/>
          Please<br/>
          {{ form.gender }}<br/>
          {% for error in form.errors %}
            <span style="color: red;">{{ form.errors[error][0] }}</span><br/>
          {% endfor %}<br/>
      </p>
      <p><input type="submit" value="Confirm"></p>
  </form>

{% endblock %}