<html ng-app="socialLite">
<head>
	<title>Social Lite</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</head>
<body ng-controller="UserController as userCtrl">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Social Lite</a>
			</div>

			<div class="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Find an Event</a></li>
					<li><a href="#">Create an Event</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
					<li><a href="#" data-toggle="modal" data-target="#signupModal">Sign up</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <form name="userForm" ng-submit="userForm.$valid && userCtrl.updateUserInfo()">
        <p>Edit User Profile</p>
        <table>
            <tr>
                <td>
                    Display Name:
                </td>
                <td>
                    <input type="text" ng-model="userCtrl.currentUser.displayname"/>
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="text" ng-model="userCtrl.currentUser.password"/>
                </td>
            </tr>
            <tr>
                <td>
                    Age:
                </td>
                <td>
                    <input type="number" ng-model="userCtrl.currentUser.age"/>
                </td>
            </tr>
            <tr>
                <td>
                    Location:
                </td>
                <td>
                    <input type="text" ng-model="userCtrl.currentUser.location"/>
                </td>
            </tr>
            <tr>
                <td>
                    Gender:
                </td>
                <td>
                    <input type="text" ng-model="userCtrl.currentUser.gender"/>
                </td>
            </tr>
            <tr>
                <td>
                    Bio:
                </td>
                <td>
                    <input type="text" ng-model="userCtrl.currentUser.bio"/>
                </td>
            </tr>
            <tr>
                <td>
                    Photo:
                </td>
                <td>
                    <img src="http://placehold.it/150x150" alt="" />
                    <input type="file" />
                </td>
            </tr>
        </table>
        <div>
            <p>Interests :</p>
            <div>

                <div ng-repeat="item in userCtrl.allInts">
                    <label><input type="checkbox" checklist-model="userCtrl.currentUser.interests" checklist-value="item">{{'{{item.name}}'}}</label>
                </div>
            </div>
        </div>
        <input type="submit" value="submit" />
    </form>
</body>